<template name="addUsersToTheGroup">

			<div class="box">
				<input type="radio" name="add-rem-users-group" id="tab-add">
				<label for="tab-add" class="label-add">Add users</label>
				<ul class="add-users">
					{{#each usersEmail}}
					<li><label><input type="checkbox">{{email}}</label></li>
					{{/each}}
					<div>
						<button class="btn btn-success btn-sm glyphicon glyphicon-plus"></button>
						<button class="btn btn-default btn-sm glyphicon glyphicon-remove"></button>
					</div>
				</ul>

				<input type="radio" name="add-rem-users-group" id="tab-rem">
				<label for="tab-rem" class="label-rem">Remuve users</label>
				<ul class="remove-users">
					{{#each usersEmail}}
					<li><label><input type="checkbox">{{email}}</label></li>
					{{/each}}
					<div>
						<button class="btn btn-danger btn-sm glyphicon glyphicon-minus"></button>
						<button class="btn btn-default btn-sm glyphicon glyphicon-remove"></button>
					</div>
				</ul>
			</div>

</template>
