.box {
	width: 100%;
}

.box > input[type='radio'] {
	display: none;
}

.box > label {
	background-color: #333;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	padding: 5px;
	margin: 0;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #fff;
}

.box > ul {
	display: none;
	list-style: none;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	margin: 0;
	padding: 0;
}

.box > ul > li {
	padding: 3px;
}

.box > ul > li > label > input {
	margin-right: 3px;
}

.box > ul > div {
	text-align: center;
	margin: 5px auto;
}

.box > ul > div > button {
	font-weight: bold;
}

#tab-add:checked ~ ul:nth-of-type(1),
#tab-rem:checked ~ ul:nth-of-type(2) {
	display: block;
}
