<template name="registrationGroup">

<!-- Modal -->
<div class="modal fade" id="modal-createGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Group</h4>
      </div>
      <div class="modal-body">

        <label>Name Group <input type="text" name="name-group"></label>


      </div>
      <div class="modal-footer">
        <button type="button" name="button-create-group">Create</button>
        <button type="button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

</template>