<template name="selectGrouop">

	<div class="conteiner-top">
	{{#with nameGroup}}
			<h1>Group "{{name}}"</h1>
		{{/with}}
			{{#if autent}}
		<a href="#" data-toggle="modal" data-target="#modal-control-group">Control Group</a>
				{{> controlGroup}}
			{{/if}}
		</div>
	<table class="price-menu">
		<tr>
			<th class="remove-item-menu-th"></th>
			<th class="name-item-th">Name</th>
			<th class="price-item-th">Price</th>
			<th class="edit-count-items-th">Order</th>
		</tr>
		{{#each menuItem}}
		<tr>
			<td class="remove-item-menu remove-item-menu-real">✖</td>
			<td class="name-item">{{name}}</td>
			<td class="price-item">{{price}}</td>
			<td class="edit-count-items">
				<span class="count-item">{{count}}</span>
				<span class="rem-item">-</span>
				<span class="add-item">+</span>
			</td>
		</tr>
		{{/each}}
		<tr>
			<td class="remove-item-menu"></td>
			<td class="new-item-menu-name"><input type="text"></td>
			<td class="new-item-menu-price"><input type="text"></td>
			<td class="add-item-in-menu"><input type="button" value="Add item in menu"></td>
		</tr>
	</table>
	<div class="container-submit">
		<input type="button" value="submit" class="btn submit-order">
	</div>

</template>