div.conteiner-top > a {
	float: right;
}

div.conteiner-top > h1 {
	margin-top: 20px;
	float: left;
}

.aa {
	border: 1px solid red;
}

.price-menu {
	width: 100%;
	text-align: center;
}

.name-item,
.price-item,
.edit-count-items
.name-item-th,
.price-item-th,
.edit-count-items-th {
	text-align: center;
	overflow: auto;
}

.name-item,
.name-item-th {
	min-width: 100px;
	text-align: center;
}

.remove-item-menu,
.remove-item-menu-th {
	width: 30px;
	text-align: center;
}
.remove-item-menu *,
.remove-item-menu-th * {
	margin: auto 2px auto 4px;
}

.price-menu > tr:nth-child(2n) {
	background: #eee;
}

.price-menu > tr:nth-child(2n+1) {
	background: #aaa;
}

.price-menu > tr:nth-child(1) {
	background: #000;
	color: #fff;
}

td.edit-count-items > span {
	display: inline-block;
	width: 30%;
	text-align: center;
	cursor: pointer;
}

.container-submit {
	text-align: right;
}
.submit-order {
	display: inline-block;
	margin-top: 10px;
	text-align: center;
}

.new-item-menu-name input {
	width: 100%;
}
.new-item-menu-price input {
	width: 50%;
}

.remove-item-menu-real,
.update-item-menu-real {
	cursor: pointer;
}
