<template name="newMainMenu">

	<nav class="navbar navbar-default new-main-menu" >
		<div class="container-fluid" id="wrap">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{urlFor route='HomePage'}}">Home</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" data-toggle="modal" data-target="#modal-createGroup">Create Group</a></li>
					{{> registrationGroup}}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Groups <span class="caret"></span></a>
						<ul class="dropdown-menu">
							{{#each myGrou}}
							<li>
								<a href="#" class="groups-select">
									<span name="group-to-go">{{this.name}}</span>
								</a>
							</li>
							{{/each}}
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							I Groups
							{{#if currentUser}}
							{{#if _totalCount}}
								{{#with _totalCount}}
								<span class="badge">
									{{this}}
								</span>
								{{/with}}
							{{/if}}
							{{/if}}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{{#each iGrou}}
							<li>
								<a href="#" class="groups-select btn-group btn-group-justified">
									<span name="group-to-go" class="btn-group btn-group-justified">{{this.name}}</span>
									<span class="text-right btn-group">&#160;<span class="badge text-right">{{this.count}}</span></span>
								</a>
							</li>
							{{/each}}
						</ul>
					</li>
					<li class="nav navbar-nav">
						{{> loginButtons}}
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

</template>
